@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

    <fieldset id="aspnet1">
        <legend><strong>→ASP.NET←</strong></legend>
        <p class="text-justify">
            Pude aprender que ASP.NET es un lenguaje de multiplataforma, que se basa en el framework .net de microsoft,
            y una mejora al anterior ASP. Está orientado básicamente al desarrollo de aplicaciones web y sitios web, con
            el uso del lenguaje C# y en muchos casos una inclusión de HTML, CSS y XML.
        </p>
    </fieldset>