@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
    <fieldset id="pilares1">
        <legend><strong>→Abstracción←</strong></legend>
        <p class="text-justify">
            La abstracción, en la programación, es uno de los pilares de la POO; consistiendo en la clasificación, o más bien,
            un recurso de diferenciadión de objetos. <br />
            Generalmente, entre los programadores, al momento de usar la abstracción, se realiza un diagrama UML, para así abstraer,
            gráficamente, las carasterísticas necesarias para una determinada acción.

            <br />

            <i>*Representadas en clases y métodos dentro de la programación.*</i>
        </p>
    </fieldset>
    <fieldset id="pilares2">
        <legend><strong>→Encapsulación←</strong></legend>
        <p class="text-justify">
            La encapsulación hace referencia a un método de protección de atributos y métodos de nuestra programación u codificación <br />
            En otras palabras, es darle acceso a funcionalidades y carácteristicas de una clase, sin entender su funcionamiento. Es decir,
            se tiene acceso a los métodos o propiedades privadas, exclusivamente, por aquellos públicos.
        </p>
    </fieldset>
    <fieldset id="pilares3">
        <legend><strong>→Herencia←</strong></legend>
        <p class="text-justify">
            La herencia es un recurso o pilar de la programación que permite el uso e integración de una clase dentro de otra. Es
            comunmente usado por los programadores acompañado de la abstracción.
        </p>
    </fieldset>
    <fieldset id="pilares4">
        <legend><strong>→Polimorfismo←</strong></legend>
        <p class="text-justify">
            El polimorfismo, es en parte, asemejado a la herencia, sin embargo, para ser exactos, el polimorfismo da sentido al constante uso de
            mismos métodos que no necesariamente realizan las mismas acciones. Es decir, métodos iguales, pero implementados de diferentes maneras.
        </p>
    </fieldset>