<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>• Fogueo Code •</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: white;
            background-size: 100%;
            background-attachment: fixed;
            background-repeat: no-repeat;
            align-content: center;
        }

        div {
            border-radius: 10px;
            margin: 5px;
            padding: 5px;
            background-image: url("https://images6.alphacoders.com/601/thumb-1920-601846.jpg");
            background-attachment: fixed;
            background-size: contain;
            background-repeat: no-repeat;
            width: 80%;
        }

        /*#presentacion {
            border: solid 2px rgb(0, 92, 128);
            border-radius: 20px;
            margin-bottom: 10px;
            margin: 0 auto;
            padding: 5px;
            width: 65%;
            height: 65%;
        }*/

        #presentacion1 {
            background-color: white;
            border: solid 2px rgb(0, 92, 128);
            border-radius: 20px;
            margin-bottom: 10px;
            margin: 0 auto;
            padding: 5px;
            align-content: center;
        }

        #encabezado {
            border: solid 2px rgb(0, 92, 128);
            background-color: white;
            border-radius: 20px;
            margin-bottom: 10px;
            margin: 0 auto;
            padding: 5px;
        }

        #encabezado1 {
            background-color: white;
            border: solid 2px rgb(0, 92, 128);
            border-radius: 20px;
            margin-bottom: 10px;
            margin: 0 auto;
            padding: 5px;
            align-content: center;
        }

        /*#pilares {
            border: solid 2px rgb(0, 92, 128);
            border-radius: 20px;
            margin-bottom: 10px;
            margin: 0 auto;
            padding: 5px;
            width: 65%;
            height: 65%;
        }*/

        #pilares1 {
            background-color: white;
            border: solid 2px rgb(0, 92, 128);
            border-radius: 20px;
            margin-bottom: 10px;
            margin: 0 auto;
            padding: 5px;
            align-content: center;
        }

        #pilares2 {
            background-color: white;
            border: solid 2px rgb(0, 92, 128);
            border-radius: 20px;
            margin-bottom: 10px;
            margin: 0 auto;
            padding: 5px;
            align-content: center;
        }

        #pilares3 {
            background-color: white;
            border: solid 2px rgb(0, 92, 128);
            border-radius: 20px;
            margin-bottom: 10px;
            margin: 0 auto;
            padding: 5px;
            align-content: center;
        }

        #pilares4 {
            background-color: white;
            border: solid 2px rgb(0, 92, 128);
            border-radius: 20px;
            margin-bottom: 10px;
            margin: 0 auto;
            padding: 5px;
            align-content: center;
        }

        legend {
            border: solid 2.5px navy;
            border-radius: 10px;
            background-color: white;
        }

        /*#aspnet {
            border: solid 2px rgb(0, 92, 128);
            border-radius: 20px;
            margin-bottom: 10px;
            margin: 0 auto;
            padding: 5px;
            width: 65%;
            height: 65%;
        }*/

        #aspnet1 {
            background-color: white;
            border: solid 2px rgb(0, 92, 128);
            border-radius: 20px;
            margin-bottom: 10px;
            margin: 0 auto;
            padding: 5px;
            align-content: center;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark text-muted border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-muted" asp-area="" asp-controller="Fogueo" asp-action="Index">• Fogueo Code •</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Fogueo" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Fogueo" asp-action="PilaresPOO">POO - Pilars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Fogueo" asp-action="ASPNET">ASP.NET - LEARNED</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Fogueo" asp-action="MyIntroduction">Console.Write("Who Am I?")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Fogueo" asp-action="ViewAsignatures"> ASIGNATURE's MODEL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Fogueo" asp-action="Create"> FORMULARIO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container" >
            &copy; 2021 - • Fogueo Code • - <a asp-area="" asp-controller="Fogueo" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
