@model StudentsForm.Models.Students
@{
    ViewBag.Title = "Home Page";
}

<div id="encabezado" class="bg-white">
    <h1 class="text-center text-white">
        @ViewBag.Tittle
    </h1>
    <fieldset id="encabezado1">

        <form controller="HomeController" action="About" method="post" enctype="multipart/form-data">
            <input type="text" name="matricula" placeholder="Inserte la matrícula aquí" class="form-control" required />
            <br />
            <input type="text" name="nombre" placeholder="Inserte su/s nombre/s aquí" class="form-control" required />
            <br />
            <input type="text" name="apellido" placeholder="Inserte su/s apellido/s aquí" class="form-control" required />
            <br />
            <input type="datetime" name="fechanacimiento" placeholder="Inserte su fecha de nacimiento" class="form-control" required />
            <br />
            <input type="text" name="carrera" placeholder="Inserte su carrera" class="form-control" required />
            <br />
            <input type="text" name="direccion" placeholder="Inserte su dirección" class="form-control" required />
            <br />
            <input type="text" name="telefono" placeholder="Inserte su teléfono" class="form-control" required />
            <br />
            <input type="text" name="email" placeholder="Inserte su correo electronico" class="form-control" required />
            <br />
            <input type="submit" value="ENVIAR" />
        </form>
    </fieldset>
</div>


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>